@import url("https://rawgit.com/Shadow-Slayer/mib/master/style.css");
@import url("https://rawgit.com/Shadow-Slayer/mib/master/users.css");

/*
.badge-box.clickable {
    position: absolute;
    left: -9999px;
}
/*http://i.imgur.com/Ht8aNc5.png?1 -- emblema molde */

/*shadow
.cm.message.id-4080795 {
    background-image: url(https://s.gravatar.com/avatar/6b339b1d098965c7496e3b7e58573962?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*duda
.cm.message.id-6237801 {
    background-image: url(https://s.gravatar.com/avatar/5d85982a88aaa91e10ec167f682df7ba?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*away
.cm.message.id-1380997 {
    background-image: url(https://s.gravatar.com/avatar/bd684a1dd38f4c4b0aed3e54dba0acba?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*sabota
.cm.message.id-3851265 {
    background-image: url(http://i.imgur.com/DHoUE4d.jpg?1);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*vzack
.cm.message.id-4371581 {
    background-image: url(https://s.gravatar.com/avatar/2dfc1fef92105cbc88500c992025f9c0?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*dig
.cm.message.id-5495125 {
    background-image: url(http://i.imgur.com/DtznPYN.jpg?1);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*tuskas
.cm.message.id-5594653 {
    background-image: url(http://i.imgur.com/VfMrCMd.jpg?1);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*freddie
.cm.message.id-5007596 {
    background-image: url(http://i.imgur.com/doWh73r.jpg?1);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*blea
.cm..message.id-4915184 {
    background-image: url(https://secure.gravatar.com/avatar/a684823b8c6ad09e45cded6e1870b56f);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*feluz
.cm.message.id-3839549 {
    background-image: url(https://s.gravatar.com/avatar/681557ed224ed2027533bd41f38faac7?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*PSG
.cm.message.id-5039941 {
    background-image: url(https://s.gravatar.com/avatar/1ab705ef0abbd98e90f9ae1865d73d83?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*bot
.cm.message.id-5394376 {
    background-image: url(https://s.gravatar.com/avatar/795a00fa0d523c1bce9bc73cab3f9915?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*jander dolynhot
.cm.message.id-4349239 {
    background-image: url(https://s.gravatar.com/avatar/354ca72c5076665f93b9a2aa3249c212?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*warlocked
.cm.message.id-13740821 {
    background-image: url(https://s.gravatar.com/avatar/dfd99e14037c0a5b4ab2eb2a30cbec45?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*mysaddestiny
.cm.message.id-4179990 {
    background-image: url(https://s.gravatar.com/avatar/b1efdf38a84682c28dfd6e614d9b12b0?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*fernandogamer
.cm.message.id-4799567 {
    background-image: url(https://s.gravatar.com/avatar/bfd33fc955958cb28ee611a77f440358?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
}
/*tefe
.cm.message.id-5388131 {
    background-image: url(https://s.gravatar.com/avatar/d6fa5c01dc720ba7dcabdc58a4bad8d7?s=80);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 35px;
} */



#room-host, #room-name {
left: 105px;
}

#room-bar .icon-room {
    top: 7px;
    left: 7px;
}
i.icon.icon-room {
    width: 130px;
    height: 50px;
}

.icon-room {
    background: url(http://i.imgur.com/KkMZsiH.png?1) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 65%;
}

/*.from.staff {
    text-shadow: 0px 0px 1px #ac76ff;
}*/

#chat .emote .text {
    font-family: 'Fira Sans', sans-serif;
}
#chat-messages .text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

#chat .from {
    position: relative;
    margin-bottom: 3px;
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
}

#chat-input-field {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 305px;
    height: 18px; !important
    outline: 0;
    border: 0;
    background: 0 0;
    color: #eee;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
}


#woot.selected {
    background: #42ad2f;
}
.votes-rs .title.woot {
    background: #42ad2f;
}

#grab .bottom, #grab.selected {
    background: #c6b016;
}
.votes-rs .title.grab {
    background: #c6b016;
}
.icon .icon-grab {
    width: 30px;
    height: 30px;
    background: url('http://i.imgur.com/toSF1Ae.png?1');
}
