/* MoveItBot */
#chat [data-cid^="5394376-"] i.bdg:hover {
background: url('https://s.gravatar.com/avatar/795a00fa0d523c1bce9bc73cab3f9915?s=75')
    width: 75px;
    height: 75px;
    transition: 0.5s;
}
#chat [data-cid^="5394376-"] span.un.clickable {
    color: rgb(244, 23, 59) !important;
}
#chat [data-cid^="5394376-"] i.bdg {
background: url('https://s.gravatar.com/avatar/795a00fa0d523c1bce9bc73cab3f9915?s=30') !important;
}
#chat [data-cid^="5394376-"] .icon {
    display:none !important;
}
/*#chat .msg .text .id-5394376, #chat .msg .text .name.id-5394376, #chat .msg .text .name.id-5394376 .name {
color: rgb(210, 90, 195) !important;
}*/
#chat [data-cid^="5394376-"].emote {
    background: rgba(206,25,55,0.30) !important;
    border-left: rgb(206, 25, 55) 3px solid !important;
}
#chat [data-cid^="5394376-"].emote .timestamp {
    color: #A993C7 !important;
}

#chat [data-cid^="5394376-"].emote .text {
    color: #f7f7f7 !important;
}

/* MoveItBot */
/*.id-5394376 span.un.clickable, #user-lists .list.room .id-5394376 .name, #user-lists .list.room .is-ambassador.id-5394376 .name, #user-lists .list.room .is-staff.id-3454266 .name, #user-lists .list.room .is-dj.id-3454266 .name, #user-lists .list.room .is-subscriber.id-3454266 .name, #user-lists .list.room [class*='role'].id-3454266 .name {
color: #d25ac3 !important;
}*/
#chat .id-5394376 .icon {
display:none !important;
}

/* MOVEITBOT RELATED CSS */
[data-cid^="5394376-"] .msg .from .icon-chat-subscriber, #user-lists .list.room .id-5394376 .icon-chat-subscriber {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_subscriber.png") !important;
}
[data-cid^="5394376-"] .msg .from .icon-chat-dj, #user-lists .list.room .id-5394376 .icon-chat-dj {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_dj.png") !important;
}
[data-cid^="5394376-"] .msg .from .icon-chat-bouncer, #user-lists .list.room .id-5394376 .icon-chat-bouncer {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_bouncer.png") !important;
}
[data-cid^="5394376-"] .msg .from .icon-chat-manager, #user-lists .list.room .id-5394376 .icon-chat-manager {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_manager.png") !important;
}
[data-cid^="5394376-"] .msg .from .icon-chat-cohost, #user-lists .list.room .id-5394376 .icon-chat-cohost {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_cohost.png") !important;
}
[data-cid^="5394376-"] .msg .from .icon-chat-host, #user-lists .list.room .id-5394376 .icon-chat-host {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_host.png") !important;
}
[data-cid^="5394376-"] .msg .from .icon-chat-ambassador, #user-lists .list.room .id-5394376 .icon-chat-ambassador {
    background: url("https://cdn.radiant.dj/rcs/icons/radiant/litebot_ambassador.png") !important;
}
/*#user-rollover.id-5394376 .username {
    color: #d25ac3 !important;
}*/
/*#chat .msg .text .id-5394376,
#chat .msg .text .name.id-5394376,
#chat .msg .text .name.id-5394376 .name {
    color: #d25ac3 !important;
}*/
