/*shadow*/
#chat-messages .fromID-4080795 .badge-box i,
#chat-messages  .id-4080795 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/6b339b1d098965c7496e3b7e58573962?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*duda */
#chat-messages .fromID-5401598 .badge-box i,
#chat-messages  .id-5401598 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/5d85982a88aaa91e10ec167f682df7ba?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*away*/
#chat-messages .fromID-1380997 .badge-box i,
#chat-messages  .id-1380997 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/bd684a1dd38f4c4b0aed3e54dba0acba?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*sabota*/
#chat-messages .fromID-3851265 .badge-box i,
#chat-messages  .id-3851265 .badge-box i {
    background-image: url(http://i.imgur.com/DHoUE4d.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*vzack*/
#chat-messages .fromID-4371581 .badge-box i,
#chat-messages  .id-4371581 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/2dfc1fef92105cbc88500c992025f9c0?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*dig*/
#chat-messages .fromID-5495125 .badge-box i,
#chat-messages  .id-5495125 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/66dada2a5ac9daab4bd172edad411690?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*tuskas*/
#chat-messages .fromID-5594653 .badge-box i,
#chat-messages  .id-5594653 .badge-box i {
    background-image: url(http://i.imgur.com/VfMrCMd.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*freddie*/
#chat-messages .fromID-5007596 .badge-box i,
#chat-messages  .id-5007596 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/1dd69b6288f6a21f27cd44c4faad3cfd?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*blea*/
#chat-messages .fromID-4915184 .badge-box i,
#chat-messages  .id-4915184 .badge-box i {
    background-image: url(https://secure.gravatar.com/avatar/a684823b8c6ad09e45cded6e1870b56f);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*feluz*/
#chat-messages .fromID-3839549 .badge-box i,
#chat-messages  .id-3839549 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/681557ed224ed2027533bd41f38faac7?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*PSG*/
#chat-messages .fromID-5039941 .badge-box i,
#chat-messages  .id-5039941 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/1ab705ef0abbd98e90f9ae1865d73d83?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*bot*/
#chat-messages .fromID-6 .badge-box i,
#chat-messages  .id-6 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/795a00fa0d523c1bce9bc73cab3f9915?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*jander dolynhot*/
#chat-messages .fromID-4349239 .badge-box i,
#chat-messages  .id-4349239 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/354ca72c5076665f93b9a2aa3249c212?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*warlocked*/
#chat-messages .fromID-13740821 .badge-box i,
#chat-messages  .id-13740821 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/dfd99e14037c0a5b4ab2eb2a30cbec45?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*mysaddestiny*/
#chat-messages .fromID-4179990 .badge-box i,
#chat-messages  .id-4179990 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/b1efdf38a84682c28dfd6e614d9b12b0?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*fernandogamer*/
#chat-messages .fromID-4799567 .badge-box i,
#chat-messages  .id-4799567 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/bfd33fc955958cb28ee611a77f440358?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*tefe*/
#chat-messages .fromID-5388131 .badge-box i,
#chat-messages  .id-5388131 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/d6fa5c01dc720ba7dcabdc58a4bad8d7?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*zol*/
#chat-messages .fromID-3810631 .badge-box i,
#chat-messages  .id-3810631 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/6b612c7f4d20af32dfbb5cee3c5e6cff?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*cintia*/
#chat-messages .fromID-5266634 .badge-box i,
#chat-messages  .id-5266634 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/fa80d5d6a9cff467df0476f74dc74898?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*fanny*/
#chat-messages .fromID-3733591 .badge-box i,
#chat-messages  .id-3733591 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/043718571213349ef0787867abdac4d6?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*ladycarol*/
#chat-messages .fromID-5581816 .badge-box i,
#chat-messages  .id-5581816 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/7a1b9772abc8b3d830134d001f49f50e?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*danielmac*/
#chat-messages .fromID-3742812 .badge-box i,
#chat-messages  .id-3742812 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/d013158a16aa4da980436b693533a60d?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*lorma*/
#chat-messages .fromID-5682160 .badge-box i,
#chat-messages  .id-5682160 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/a037914f672e3c01f3729d2c14abcdae?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*nu.clear*/
#chat-messages .fromID-13443778 .badge-box i,
#chat-messages  .id-13443778 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/711763bdba63425aa9ea55dd313fac14?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*skywalker*/
#chat-messages .fromID-4376080 .badge-box i,
#chat-messages  .id-4376080 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/77f37c7072866da9302d655e340771d5?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*apaki*/
#chat-messages .fromID-5579813 .badge-box i,
#chat-messages  .id-5579813 .badge-box i {
    background-image: url(http://i.imgur.com/us6vWES.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*kennedy*/
#chat-messages .fromID-5005365 .badge-box i,
#chat-messages  .id-5005365 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/a82a13263d613a98c32906c4856fdbf0?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*xITzGaMeSPr0zTIx*/
#chat-messages .fromID-4404834 .badge-box i,
#chat-messages  .id-4404834 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/eabe6c9ca5eeca7315c43fb9ef4d8581?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*vendedor de droga?*/
#chat-messages .fromID-3512941 .badge-box i,
#chat-messages  .id-3512941 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/610952887521b4aab912ed40b3375fe1?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*pão*/
#chat-messages .fromID-15511589 .badge-box i,
#chat-messages  .id-15511589 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/99927c61094acd9dfd20264cca1e1c03?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*flavia botelho*/
#chat-messages .fromID-4256491 .badge-box i,
#chat-messages  .id-4256491 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/5f6be7033a73b116e5d479350b7ebc11?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*   */
#chat-messages .fromID-14160670 .badge-box i,
#chat-messages  .id-14160670 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/f37703fd4584fa276c4822e5d74d8208?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* cunpadi  */
#chat-messages .fromID-13478318 .badge-box i,
#chat-messages  .id-13478318 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/020ef4a887d986b50bedf830b4686804?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* jaque  */
#chat-messages .fromID-6511093 .badge-box i,
#chat-messages  .id-6511093 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/6f4d1b139669bfc99efc97bea15b9511?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* jaque 2  */
#chat-messages .fromID-15957772 .badge-box i,
#chat-messages  .id-15957772 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/b760b40585314e6ada69730bd7923a94?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* Psicó  */
#chat-messages .fromID-6395057 .badge-box i,
#chat-messages  .id-6395057 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/d29df3382ffafd419d26790d9b86b668?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* _ThomasFr */
#chat-messages .fromID-14766508 .badge-box i,
#chat-messages  .id-14766508 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/f6d660bcb09781f76f2a4ae7c3a37580?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* EdnaldoDJ */
#chat-messages .fromID-6578930 .badge-box i,
#chat-messages  .id-6578930 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/10a352493d55c95e253cc3dd5a9d4eb6?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* zOverKillz https://www.facebook.com/profile.php?id=100011788850602&fref=ufi */
#chat-messages .fromID-16349909 .badge-box i,
#chat-messages  .id-16349909 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/9cad2fc24b77ea5f52c8d68af43ad0b2?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* @๖ۜĐﮊ.RedSkull ☊ */
#chat-messages .fromID-3938058 .badge-box i,
#chat-messages  .id-3938058 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/0b7cf0d797ef6d398b4fe3151a6c0ff7?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* fentyzinho */
#chat-messages .fromID-15522304 .badge-box i,
#chat-messages  .id-15522304 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/85279a5b485e8279ae84aefd7d57595a?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* InderFer0m0nas */
#chat-messages .fromID-5307937 .badge-box i,
#chat-messages  .id-5307937 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/7163273f5cc5911f47c62d53ec2b0039?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}
 
/* SmoKingalac  */
#chat-messages .fromID-3985954 .badge-box i,
#chat-messages  .id-3985954 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/0280d89d39be38d59d540cb59f5eda30?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* Ary   */
#chat-messages .fromID-3466367 .badge-box i,
#chat-messages  .id-3466367 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/ec9a7186a5df2144fff86fb1da1a2399?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* Drake-fox-BR  */
#chat-messages .fromID-4460832 .badge-box i,
#chat-messages  .id-4460832 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/6abc7e434764678c64f629499502088a?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*  hu3hu3hu3hu3hue  */
#chat-messages .fromID-3422505 .badge-box i,
#chat-messages  .id-3422505 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/50d2da7e55c1e5e16c7c6b71219d9e14?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*  ManoWoods  */
#chat-messages .fromID-3851353 .badge-box i,
#chat-messages  .id-3851353 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/d46abb43e6fec81e8724e98e20693699?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*  andreamaro2  */
#chat-messages .fromID-13651874 .badge-box i,
#chat-messages  .id-13651874 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/a980d6ba9afdafef2f6bef9fcad7ce77?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*   jvnlxxxx  */
#chat-messages .fromID-17187228 .badge-box i,
#chat-messages  .id-17187228 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/e5665b3797b6677921c98a064931f976?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*   Biel King  */
#chat-messages .fromID-17058370 .badge-box i,
#chat-messages  .id-17058370 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/2426c41754e6926be84efed57ac6bf15?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*  Rafael Do Gera  */
#chat-messages .fromID-8042566 .badge-box i,
#chat-messages  .id-8042566 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/1a7587241c5a24db9e85c0e7b092cc61?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*  https://www.facebook.com/joaocarlos.silvabatista?fref=ufi  */
#chat-messages .fromID-5063697 .badge-box i,
#chat-messages  .id-5063697 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/fc9af321039609b8e1ca56db5edacbf5?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*  https://www.facebook.com/profile.php?id=100013216594624&fref=ufi  */
#chat-messages .fromID-3878563 .badge-box i,
#chat-messages  .id-3878563 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/8bc93c0d2e506174f2186c5bd2a91d2d?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* capusso */
#chat-messages .fromID-17574893 .badge-box i,
#chat-messages  .id-17574893 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/66928d364d444968a212f35885ff9d69?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* Guc */
/* #chat-messages .fromID-5134707 .badge-box i,
#chat-messages  .id-5134707 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/59fd87cb86fae4fc4c39941b6f7ea5e7?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0; 
} */

/* zKaique */
#chat-messages .fromID-7451925 .badge-box i,
#chat-messages  .id-7451925 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/7d5cdd316d74455f574d4a1ca3d5b2eb?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* Marcos Vinicios */
#chat-messages .fromID-5428229 .badge-box i,
#chat-messages  .id-5428229 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/ae151cb87cff6d2729529ab8755f2383?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}
