/*shadow*/
.bdg.bdg-og-g.g i .id-4080795,
.bdg.bdg-ea-g.g i .id-4080795,
#chat-messages .fromID-4080795 .badge-box i,
#chat-messages  .id-4080795 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/6b339b1d098965c7496e3b7e58573962?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*duda*/
#chat-messages .fromID-6237801 .badge-box i,
#chat-messages  .id-6237801 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/5d85982a88aaa91e10ec167f682df7ba?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*away*/
#chat-messages .fromID-1380997 .badge-box i,
#chat-messages  .id-1380997 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/bd684a1dd38f4c4b0aed3e54dba0acba?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*sabota*/
#chat-messages .fromID-3851265 .badge-box i,
#chat-messages  .id-3851265 .badge-box i {
    background-image: url(http://i.imgur.com/DHoUE4d.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*vzack*/
#chat-messages .fromID-4371581 .badge-box i,
#chat-messages  .id-4371581 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/2dfc1fef92105cbc88500c992025f9c0?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*dig*/
#chat-messages .fromID-5495125 .badge-box i,
#chat-messages  .id-5495125 .badge-box i {
    background-image: url(http://i.imgur.com/DtznPYN.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*tuskas*/
#chat-messages .fromID-5594653 .badge-box i,
#chat-messages  .id-5594653 .badge-box i {
    background-image: url(http://i.imgur.com/VfMrCMd.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*freddie*/
#chat-messages .fromID-5007596 .badge-box i,
#chat-messages  .id-5007596 .badge-box i {
    background-image: url(http://i.imgur.com/doWh73r.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*blea*/
#chat-messages .fromID-4915184 .badge-box i,
#chat-messages  .id-4915184 .badge-box i {
    background-image: url(https://secure.gravatar.com/avatar/a684823b8c6ad09e45cded6e1870b56f);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*feluz*/
#chat-messages .fromID-3839549 .badge-box i,
#chat-messages  .id-3839549 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/681557ed224ed2027533bd41f38faac7?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*PSG*/
#chat-messages .fromID-5039941 .badge-box i,
#chat-messages  .id-5039941 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/1ab705ef0abbd98e90f9ae1865d73d83?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*bot*/
#chat-messages .fromID-6 .badge-box i,
#chat-messages  .id-6 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/795a00fa0d523c1bce9bc73cab3f9915?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*jander dolynhot*/
#chat-messages .fromID-4349239 .badge-box i,
#chat-messages  .id-4349239 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/354ca72c5076665f93b9a2aa3249c212?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*warlocked*/
#chat-messages .fromID-13740821 .badge-box i,
#chat-messages  .id-13740821 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/dfd99e14037c0a5b4ab2eb2a30cbec45?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*mysaddestiny*/
#chat-messages .fromID-4179990 .badge-box i,
#chat-messages  .id-4179990 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/b1efdf38a84682c28dfd6e614d9b12b0?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*fernandogamer*/
#chat-messages .fromID-4799567 .badge-box i,
#chat-messages  .id-4799567 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/bfd33fc955958cb28ee611a77f440358?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*tefe*/
#chat-messages .fromID-5388131 .badge-box i,
#chat-messages  .id-5388131 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/d6fa5c01dc720ba7dcabdc58a4bad8d7?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*zol*/
#chat-messages .fromID-3810631 .badge-box i,
#chat-messages  .id-3810631 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/6b612c7f4d20af32dfbb5cee3c5e6cff?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*cintia*/
#chat-messages .fromID-5266634 .badge-box i,
#chat-messages  .id-5266634 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/fa80d5d6a9cff467df0476f74dc74898?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*fanny*/
#chat-messages .fromID-3733591 .badge-box i,
#chat-messages  .id-3733591 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/043718571213349ef0787867abdac4d6?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}
