/*shadow*/
.bdg.bdg-og-g.g i .id-4080795,
.bdg.bdg-ea-g.g i .id-4080795,
#chat-messages .fromID-4080795 .badge-box i,
#chat-messages  .id-4080795 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/6b339b1d098965c7496e3b7e58573962?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*duda*/
#chat-messages .fromID-6237801 .badge-box i,
#chat-messages  .id-6237801 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/5d85982a88aaa91e10ec167f682df7ba?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*away*/
#chat-messages .fromID-1380997 .badge-box i,
#chat-messages  .id-1380997 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/bd684a1dd38f4c4b0aed3e54dba0acba?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*sabota*/
#chat-messages .fromID-3851265 .badge-box i,
#chat-messages  .id-3851265 .badge-box i {
    background-image: url(http://i.imgur.com/DHoUE4d.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*vzack*/
#chat-messages .fromID-4371581 .badge-box i,
#chat-messages  .id-4371581 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/2dfc1fef92105cbc88500c992025f9c0?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*dig*/
#chat-messages .fromID-5495125 .badge-box i,
#chat-messages  .id-5495125 .badge-box i {
    background-image: url(http://i.imgur.com/DtznPYN.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*tuskas*/
#chat-messages .fromID-5594653 .badge-box i,
#chat-messages  .id-5594653 .badge-box i {
    background-image: url(http://i.imgur.com/VfMrCMd.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*freddie*/
#chat-messages .fromID-5007596 .badge-box i,
#chat-messages  .id-5007596 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/1dd69b6288f6a21f27cd44c4faad3cfd?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*blea*/
#chat-messages .fromID-4915184 .badge-box i,
#chat-messages  .id-4915184 .badge-box i {
    background-image: url(https://secure.gravatar.com/avatar/a684823b8c6ad09e45cded6e1870b56f);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*feluz*/
#chat-messages .fromID-3839549 .badge-box i,
#chat-messages  .id-3839549 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/681557ed224ed2027533bd41f38faac7?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*PSG*/
#chat-messages .fromID-5039941 .badge-box i,
#chat-messages  .id-5039941 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/1ab705ef0abbd98e90f9ae1865d73d83?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*bot*/
#chat-messages .fromID-6 .badge-box i,
#chat-messages  .id-6 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/795a00fa0d523c1bce9bc73cab3f9915?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*jander dolynhot*/
#chat-messages .fromID-4349239 .badge-box i,
#chat-messages  .id-4349239 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/354ca72c5076665f93b9a2aa3249c212?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*warlocked*/
#chat-messages .fromID-13740821 .badge-box i,
#chat-messages  .id-13740821 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/dfd99e14037c0a5b4ab2eb2a30cbec45?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*mysaddestiny*/
#chat-messages .fromID-4179990 .badge-box i,
#chat-messages  .id-4179990 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/b1efdf38a84682c28dfd6e614d9b12b0?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*fernandogamer*/
#chat-messages .fromID-4799567 .badge-box i,
#chat-messages  .id-4799567 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/bfd33fc955958cb28ee611a77f440358?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*tefe*/
#chat-messages .fromID-5388131 .badge-box i,
#chat-messages  .id-5388131 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/d6fa5c01dc720ba7dcabdc58a4bad8d7?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

/*zol*/
#chat-messages .fromID-3810631 .badge-box i,
#chat-messages  .id-3810631 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/6b612c7f4d20af32dfbb5cee3c5e6cff?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*cintia*/
#chat-messages .fromID-5266634 .badge-box i,
#chat-messages  .id-5266634 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/fa80d5d6a9cff467df0476f74dc74898?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*fanny*/
#chat-messages .fromID-3733591 .badge-box i,
#chat-messages  .id-3733591 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/043718571213349ef0787867abdac4d6?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*ladycarol*/
#chat-messages .fromID-5581816 .badge-box i,
#chat-messages  .id-5581816 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/7a1b9772abc8b3d830134d001f49f50e?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*danielmac*/
#chat-messages .fromID-3742812 .badge-box i,
#chat-messages  .id-3742812 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/d013158a16aa4da980436b693533a60d?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*lorma*/
#chat-messages .fromID-5682160 .badge-box i,
#chat-messages  .id-5682160 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/a037914f672e3c01f3729d2c14abcdae?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*nu.clear*/
#chat-messages .fromID-13443778 .badge-box i,
#chat-messages  .id-13443778 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/711763bdba63425aa9ea55dd313fac14?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*skywalker*/
#chat-messages .fromID-4376080 .badge-box i,
#chat-messages  .id-4376080 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/77f37c7072866da9302d655e340771d5?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*apaki*/
#chat-messages .fromID-5579813 .badge-box i,
#chat-messages  .id-5579813 .badge-box i {
    background-image: url(http://i.imgur.com/us6vWES.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*kennedy*/
#chat-messages .fromID-5005365 .badge-box i,
#chat-messages  .id-5005365 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/a82a13263d613a98c32906c4856fdbf0?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*xITzGaMeSPr0zTIx*/
#chat-messages .fromID-4404834 .badge-box i,
#chat-messages  .id-4404834 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/eabe6c9ca5eeca7315c43fb9ef4d8581?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*vendedor de droga?*/
#chat-messages .fromID-3512941 .badge-box i,
#chat-messages  .id-3512941 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/610952887521b4aab912ed40b3375fe1?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*pão*/
#chat-messages .fromID-15511589 .badge-box i,
#chat-messages  .id-15511589 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/99927c61094acd9dfd20264cca1e1c03?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*flavia botelho*/
#chat-messages .fromID-4256491 .badge-box i,
#chat-messages  .id-4256491 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/5f6be7033a73b116e5d479350b7ebc11?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/*   */
#chat-messages .fromID-14160670 .badge-box i,
#chat-messages  .id-14160670 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/f37703fd4584fa276c4822e5d74d8208?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}

/* cunpadi  */
#chat-messages .fromID-13478318 .badge-box i,
#chat-messages  .id-13478318 .badge-box i {
    background-image: url(https://s.gravatar.com/avatar/020ef4a887d986b50bedf830b4686804?s=300);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
}
